.general {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;


}


.main_text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.57;
}


.first_line {
    font-size: 16px;
    color: rgb(149, 140, 128);
}


.first_price {
    font-weight: bold;
    color: rgb(97, 97, 97);
}


.second_price {
    font-weight: bolder;
    text-decoration: line-through;
    color: rgb(158, 156, 154);
}


.second_line {
    font-size: 30px;
    color: rgb(97, 97, 97);
    margin-top: 0.5px;


}


.paragraph {
    font-size: 12px;
    color: rgb(158, 156, 154);
    line-height: 1.8;
    margin-top: 0.3px;
}


.buttons {
    display: flex;
    padding-top: 24px;


}


.chair_image {
    margin-left: 40px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 549px;
    height: 507px;


}


.add_cart {
    display: flex;
    align-items: center;
    color: white;
    background-color: #8b0000;
    border: 2px;
    padding: 14px 14px;
    font-size: 16px;
    margin-right: 20px;
}


.add_cart>img {
    height: 16px;
    width: 16px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    padding-right: 5px;
}


.add_cart:hover {
    background-color: rgb(175, 175, 175);
}





.more_info {
    border: 2px;
    background-color: rgb(248, 248, 252);
    color: #8b0000;
    padding: 14px 20px;
    font-size: 16px;


}


.more_info:hover {
    background-color: rgb(214, 214, 214);
}


.more_info:active {
    background-color: rgb(175, 175, 175);
}


.carousel_buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    transform: scale(1.5);
}


.carousel{
    padding-top: 4px;
    color: #8b0000;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: gray;
    margin-right: 8px;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}


.carousel:hover {
    border-color: #8b0000;
    border-radius: 75%;
    cursor: pointer;
    

}


.active_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    color: #8b0000;
    border: 1px solid #8b0000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right: 8px;
    background-color: white;



}


.slide_content {
    display: flex;
    width: 300%;
    margin-left: 16.5cm;
    transition: transform 0.8s ease;

}