.productInformation_main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.product_image > img {
    width: 400px;
    height: auto;
}

.product_info {
    margin-left: 60px;
    width: 600px;
    position: relative;
}


.product_star_container {
    display: flex;
    width: 250px; /* Set the width to match .product_review */
    height: 47px; /* Set the height to match .product_star */
    background-color: #fbbc04; /* Set the background color for the review box */
}

.product_star {
    width: 50px;
    height: 47px;
    /* Removed position: absolute and z-index */
}


.product_price {
    font-size: 25px;
    font-weight: 500;
}



