.main {
    display:flex;
    overflow: hidden;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#8b0000;
    height: 3cm;
 }
 
 
 .logo {
   transform: scale(.6);
   
 }
 
 
 .search_bar[type=text]{
    transition: width 0.4s ease-in-out;
    width:3.5cm;
    height: 25px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    padding: 5px 10px;
    caret-color: #8b0000;
    background-image: url("search.svg");
    background-position: 6px 2px;
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 40px;
 }
 
 
 .search_bar[type=text]:focus {
    outline-color: #8b0000;
    width: 100%;
   
 }
 
 
 
 .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    width: 12cm;
 }
 
 
 .button{
    font-size:larger;
    border: 2px;
    background-color: rgb(248,248,252);
    color: rgb(97,97,97);
    padding: 14px 14px;
    font-size: 13px;
    cursor: pointer;
    border-color: rgb(220,157,73); 
 }
 
 
 .button:hover {
    background-color: rgb(214, 214, 214);
    color: rgb(220,157,73);
 }
 
 
 .button:active {
    background-color: rgb(97,97,97);
 }
 
 
 .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5cm;
   
 }
 .nav-icon {
    border: 1px;
    border-radius: 100%;
    background-color: rgb(248,248,252);
    padding:7px 7px;
    font-size: 13px;
    cursor: pointer;
 }
 .nav-icon:hover {
    background-color: rgb(214, 214, 214);
 }
 .nav-icon:active {
    background-color: rgb(175, 175, 175);
 }
 .search {
    height: 0.4cm;
    width: 0.4cm;
    filter: invert(71%) sepia(6%) saturate(105%) hue-rotate(349deg) brightness(88%) contrast(85%);
 }
 .settings {
    height: 0.4cm;
    width: 0.4cm;
    filter: invert(71%) sepia(6%) saturate(105%) hue-rotate(349deg) brightness(88%) contrast(85%);
 }
 .cart {
    height: 0.4cm;
    width: 0.4cm;
    filter: invert(71%) sepia(6%) saturate(105%) hue-rotate(349deg) brightness(88%) contrast(85%);
 }
 