.new_arrivals_main {
    margin-top: 10px;
}

.first_chair {
    display:flex;
    flex-direction: column;
    border:2px;
    background-color: rgb(248, 248, 252);
    justify-content: center;
    align-items: center;
    width: 5cm;
    height: 4.5cm;
    padding: 14px 14px;
}


.pp {
    font-size: 10px;
    color: rgb(146, 145, 143);
    text-align: center;
    padding: 0px 7px;
    line-height: 1.8;

}

.first3 {
   display: flex;
}

.second_chair {
    display: flex;
    border: 2px;
    background-color: rgb(248, 248, 252);
    width: 12cm;
    height:4.5cm;
    align-items:center;
    justify-content: space-around;
    padding:14px;
    margin-left: 36px;
}
.second_chair > img {
    width:3cm;
    height:4cm;
}

.second_chair_text {
    padding-left:0.6cm;

    
}

.second_chair_text > h2 {
    font-size: 13px;
    color: rgb(97,97,97);
}

.second_chair_text > p {
    font-size: 10px;
    color: rgb(146, 145, 143);
    text-align: left;
    padding-right: 0.5cm;
    line-height: 1.8;
}

.second_chair_text > h2 {
    font-size: 11px;
    max-height: fit-content;
    color: rgb(97,97,97);
}
.second_chair_text > button {
    border: 1px solid black;
    background-color: rgb(248,248,252);
    color: black;
    padding: 7px;
    font-size: 10px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}

.third_chair {
    border-radius: 2px;
    background-color: rgb(248,248,252);
    width: 5cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 14px;
    margin-left: 36px;
}

.third_chair > img {
    max-height: 2.5cm;
    max-width: 2.5cm;
    
}

.third_chair > h2 {
    padding-top: 0.2cm;
    font-size: 13px;
    color: rgb(97,97,97);
}

.third_chair > p {
    font-size: 10px;
    color: rgb(146, 145, 143);
    line-height: 1.8;
    text-align: center;
}

