.signup_main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup_form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.name_input {
    margin-top: 20px;
    width: 105%;
    display: flex;
    justify-content: center;

}
.signup_form input {
    width: 100%;
    font-size: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    font-family: Montserrat;
    border: 2px solid lightslategray;
    margin-bottom: 20px;
    /* Keep the initial border as 1px */
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    transition: border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.signup_form input:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15), 0 0 0 1px lightslategray;
    /* Add an extra layer of box-shadow to simulate the border */
}

.signup_form input:focus {
    border: 2px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.signup_form>button {
    font-family: Montserrat;
    width: 105%;
    background-color: #8b0000;
    font-size: 22px;
    color: white;
    padding: 10px 20px;
    border: 2px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.signup_form>button:hover {
    transform: scale(1.05);
}

.signup_form>button {
    margin: 30px 0px;
}



