.image_banner {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.image_banner > img {
    min-width: 50vw;
    height: 12cm;
    filter: brightness(30%);
}

.image_banner > p {
    position: absolute;
    width: 16cm;
    margin-left: 11cm;
    margin-top: 3.5cm;
    font-size: 24px;
    color: white;
    line-height: .8cm;
    word-break:normal;
    text-align: center;
}

.about_us {
    padding-top: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_us > img {
    width: auto;
    height: 10cm;
    margin-right: 2cm;
    border-radius: 5px;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px;
    background-color: #8b0000;
    border-radius: 15px;
    color: white;
    padding: 20px 10px;
}
.description > div {
    font-size: 40px;
    font-weight: 900;
}
.description > p {
    width: 12cm;
    text-align: center;
    line-height: .7cm;

}
.link_to_collection {
    text-decoration: none;
    color: #8b0000;
    border: 2px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    transition: transform 0.2s ease-in-out;
}

.link_to_collection:hover {
    transform: scale(1.1);
}