.prefooter {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1cm;
}

.footer_menu {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.prefooter_link {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px;
    transition: color 0.4s ease-in-out
}

.prefooter_link:hover {
    border-color: rgb(97, 97, 97);
    opacity: 1;
}

.email_input {
    width: 8cm;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 3px;
}


.email_inp {
    border: 0px;
    width: 7cm;
}

.email_inp[type="text"]:focus {
    outline: none;
}

.email_inp[type="text"] {
    font-size: 18px;
    font-family: "Montserrat"
}

.email_input>img {
    width: 25px;
    height: 25px;
    border: 2px solid gray;
}

.email_input >img:hover {
    transform: scale(0.8);
    cursor: pointer;
    
}
.socials>img {
    height: 0.6cm;
    width: 0.6cm;
    filter: invert(100%);
}

.footer {
    background-color: #8b0000;
    height: 2.5cm;
    color: white

}

.footer>p {
    text-align: center;
    font-size: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    padding-top: 35px;

}

.socials>img {
    margin-left: 5px;
}